<style>
    /* Creates 0 size gap between navbar and Catalyst Partnership logo */
    body {
        padding-top: 40px;
    }

    /* Push the Catalyst Partnership logo to the far left and toolbox to far right */
    #imageBar {
        padding-top: 0px;
        padding-left: 0;
        padding-right: 0;
    }

    #cPart {
        position: static;
        left: 0px;
    }
    #toolBox {
        position: absolute;
        right: 0;
    }

    .navbar-right {
      display: block;
      text-align: right;
      color: white;
      float: right;
      padding: 6.8px 0;
    }

    @media screen and (max-width: 575px) {
      .navbar-right {
        float: none;
        text-align: left;
      }
    }
</style>

<!-- Begin navigation bar -->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" style="padding-top: 0; padding-bottom: 0">
    <a class="navbar-brand" href="/"><img src="../images/cBlock-nav.png" class="rounded-circle" width="30" height="30"></a>

    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

    <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view">Vetting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/application/add">Apply</a>
            </li>
        </ul>
        <div class="navbar-right">
          <div id="noUserNav" style="display:none;">
            <a href="/user/login" class="btn btn-sm btn-info">Log in</a>
          </div>
          <div id="userNav" style="display:none;">
            Logged in as: <a class="navbar-right-link" href="/user/editUser">{{user_email}}</a>
            <a href="/user/logout" class="btn btn-sm btn-info">Log out</a>
          </div>
        </div>
    </div> <!-- navbar-toggleable-s -->

</nav> <!-- navbar navbar-fixed-top -->

<!-- Being CatalystPartnerships logo and toolbox -->
<div class="container-fluid" id="imageBar">
    <div class="row">
        <div class="col-sm-12 hidden-sm-down">
            <img src="/images/cPart.png" id="cPart">
        </div>
        <div class="col hidden-md-down">
            <img src="/images/toolbox.jpg" id="toolBox" />
        </div>
    </div>
</div>

<pre>
  {{ user_email }}
  {{ user  }}
</pre>

<style>
  .navbar-right-link { color: #88adce; text-decoration: none; }
  .navbar-right-link:hover { color: #88adce; text-decoration: underline; }
</style>

<script>
{{#if user}}
  let user = "{{{ user_email }}}"
{{else}}
  let user = false
{{/if}}

  if (user !== false) {
    $('#userNav').css('display', 'inline-block')
  } else {
    $('#noUserNav').css('display', 'inline-block')
  }

</script>
