<style>
    /* Creates 0 size gap between navbar and Catalyst Partnership logo */
    body {
        padding-top: 40px;
    }

    /* Push the Catalyst Partnership logo to the far left and toolbox to far right */
    #imageBar {
        padding-top: 0px;
        padding-left: 0;
        padding-right: 0;
    }

    #cPart {
        position: static;
        left: 0px;
    }
    #toolBox {
        position: absolute;
        right: 0;
    }
</style>

<!-- Begin navigation bar -->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" style="padding-top: 0; padding-bottom: 0">
    <a class="navbar-brand" href="/"><img src="../images/cBlock-nav.png" class="rounded-circle" width="30" height="30"></a>

    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

    <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view">Vetting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/application/add">Apply</a>
            </li>
        </ul>
    </div> <!-- navbar-toggleable-s -->

</nav> <!-- navbar navbar-fixed-top -->

<!-- Being CatalystPartnerships logo and toolbox -->
<div class="container-fluid" id="imageBar">
    <div class="row">
        <div class="col-sm-12 hidden-sm-down">
            <img src="../images/cPart.png" id="cPart">
        </div>
        <div class="col hidden-md-down">
            <img src="../images/toolBox.jpg" id="toolBox">
        </div>
    </div>
</div>