<!-- THIS is the page applicants see after they hit Submit
-- (as long as everything has gone correctly) -->

<center><h2>Success!</h2></center><br>

<div>
	Your application has been sent to Catalyst Partnerships.  Thank you for spending the time to fill it out.  We will contact you by phone usually within 1 week. Small projects may be approved & scheduled immediately, while larger projects will take longer and require you to submit additional documentation (such as pay stub, social security benefits, housing assistance, proof of ownership, documentation of assets, previous year taxes, etc.). We will be in touch with you soon!
</div>

<div>
	<center><a href="http://www.catalystnw.org">Return to Catalyst Home</a></center>
</div>

<!--FOR TESTING PURPOSES ONLY -->
<br><br><br>
<div>
	<center><h4>For Mid-Point Testing Purposes Only</h4>
	<a href="../view">Vetting Agent Home Page</a><br>
	You can see your application has populated here!</center>
</div>
<!-- REMOVE ABOVE SECTION UPON REAL APPLICATION ROLLOUT -->