<body>
<!-- Begin homepage -->
<div class="container">
    <div class="row">
        <br>
        <h1><b>{{title}}</b></h1>
        <br>
        <h4>Fill out an <a href="/application/add">application</a>, also known internally as a Document Package</h4>
        <br>
        <h4>View all <a href="/view">Document Packages</a></h4>
        <br>
    </div>
</div>
</body>