<body>
<!-- Begin homepage -->
<div class="container">
    <div class="row">
        <br>
        <h1><b>Welcome to the Catalyst Application Vetting &amp; Site Assessment Tool</b></h1>
        <br>
        <h4>Thank you for your service in helping those in need! Please use the navigation bar above to go to the appropriate view.</h4>
        <br>
        <h3><b>MISSION:</b></h3>
        <h4>Catalyst Partnerships inspires people, builds hope, and nurtures community by bringing together useful resources and caring volunteers to meet the home repair needs of under-resourced people in our communities.</h4>
        <br>
        <h3><b>CORE VALUES:</b></h3>
        <ul>
            <li>Serving others with no strings attached</li>
            <li>Equipping individuals for personal, social, and spiritual development</li>
            <li>Cultivating authentic &amp; healthy relationships</li>
            <li>Collaborating with diverse people &amp; organizations</li>
            <li>Empowering ordinary people for involvement &amp; leadership</li>
            <li>Earning trusted partnerships with local organizations, businesses &amp; government</li>
        </ul>
        <br>
        <br>
        <br>
        <body>Acknowledgements: Many thanks to the Oregon State software development teams who brought this idea to life:
        <ul>
            <li>Team Khon: Mike Haines, John Fitzgerald, Marco Zamora
            <li>Team Capricornus: Dave Martinez, Sarah Beidelschies, John Nicolosi
        </ul>
        And the support of Professor Brewster</body>
    </div>
</div>
</body>
