<!-- New user form
  Created: Jan. 26
  Updated: -
  Primary author: Dave Martinez

  Uses regUser.post route
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/formStyle.css">

<h1>Registration</h1>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <p>Register yourself so Catalyst may contact you. In the future, we may allow
      document uploads, application status checks, and other features. For now, staff
      members may register to access internal documents.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <form id="userRegistration">

      <div class="form-group row">
        <label for="email" class="control-label col-xs-12">Email*</label>
        <div class="col-xs-12">
          <input type="email" class="form-control" name="contact_info.user_email" id="email" />
        </div>
      </div>

      <hr />

      <div class="form-group">
        <div class="row">
          <label for="userNameFirst" class="control-label col-xs-12">Name</label>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <input type="text" class="form-control" name="contact_info.user_name.user_first" id="userNameFirst" placeholder="First name"/>
          </div>
          <div class="col-xs-6 col-md-4">
            <input type="text" class="form-control" name="contact_info.user_name.user_first" id="userNameFirst" placeholder="Middle name"/>
          </div>
          <div class="col-xs-12 col-md-4">
            <input type="text" class="form-control" name="contact_info.user_name.user_first" id="userNameFirst" placeholder="Last name"/>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12">
          <label for="birthday" class="control-label">Birthday</label>
        </div>
        <div class="col-xs-12 col-sm-8">
          <input type="date" class="form-control" name="contact_info.user_dob.dob_date" id="birthday" />
        </div>
      </div>

      <hr />

      <div class="row form-group">
        <label for="address1" class="control-label col-xs-12 col-sm-2">Address</label>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <input type="text" class="form-control" name="contact_info.user_address.u_line1" id="address1" placeholder="Address 1"/>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <input type="text" class="form-control" name="contact_info.user_address.u_line2" id="address2" placeholder="Address 2"/>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-12 col-sm-5">
          <input type="text" class="form-control" name="contact_info.user_address.u_city" id="city" placeholder="City"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <input type="text" class="form-control" name="contact_info.user_address.u_state" id="state" placeholder="State"/>
        </div>
        <div class="col-xs-12 col-sm-3">
          <input type="text" class="form-control" name="contact_info.user_address.u_zip" id="zip" placeholder="Zip"/>
        </div>
      </div>

      <hr />

      <div class="row form-group">
        <label for="userEmergency" class="control-label col-xs-12">Emergency contact</label>
      </div>
      <div class="row form-group">
        <div class="col-xs-12">
          <input type="text" class="form-control" name="contact_info.user_emergency.uec_name" id="userEmergency" placeholder="Emergency contact name"/>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-6">
          <input type="text" class="form-control" name="contact_info.user_emergency.uec_relationship" id="address2" placeholder="Relationship"/>
        </div>
        <div class="col-xs-6">
          <input type="text" class="form-control" name="contact_info.user_emergency.uec_phone" id="city" placeholder="Phone number"/>
        </div>
      </div>

      <hr />


      <div class="row form-group">
        <div class="col-xs-12">
          <label for="userStatus" class="control-label">User status</label>
        </div>
        <div class="col-xs-12">
          <input type="text" class="form-control" name="user_status" id="userStatus" />
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-12">
          <label for="userActivity" class="control-label">User activity</label>
        </div>
        <div class="col-xs-12">
          <input type="text" class="form-control" name="user_activity" id="userActivity" />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-xs-12">
          <label class="control-label">Documents</label>
        </div>
        <div class="col-xs-12 col-sm-6">
          <label>
            <input type="checkbox" name="user_documents.waiver_signed" />
            Waiver signed
          </label>
        </div>
        <div class="col-xs-12 col-sm-6">
          <label>
            <input type="checkbox" name="user_documents.background_check" />
            Background check
          </label>
        </div>
        <div class="col-xs-12 col-sm-6">
          <label>
            <input type="checkbox" name="user_documents.ID_badge" />
            ID Badge
          </label>
        </div>
        <div class="col-xs-12 col-sm-6">
          <label>
            <input type="checkbox" name="user_documents.ID_Date" />
            ID Date
          </label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12 col-sm-5">
          <button type="submit" class="btn btn-default btn-block">Register</button>
        </div>
      </div>

    </form>
  </div>
</div>

<script type="text/javascript" src="/javascript/newUserForm.js"></script>
