p.scriptText {
	color: #5900b3;
    font-weight: 600;

}

hr { 
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 18px;
	margin-right: 18px;
	border-style: inset;
	border-width: 1px;
} 
