.contact_info
{
    width: 400px;
}

.contact_info div
{
    -moz-columns: 2 8em;
    -webkit-columns: 2 8em;
    columns: 2 8em;
}

.contact_info div h3
{
    /*display: inline;*/
}

.contact_info div p:nth-child(2)
{
    padding-top: 1.4em;
}

/*.checkbox*/
/*{*/
    /*margin-top: 1.4em;*/
/*}*/